<div class="container mt-4">
  <h1 class="display-3 pb-3"><%= @task.title %><h1>
  <blockquote class="blockquote">
      <p><%= @task.details %></p>
  </blockquote>
</div>
<div class="container">
  <%= link_to "Back to list", tasks_path %>
  <%= link_to "Edit this task", edit_task_path %>
</div>
